/* MOBILE   MOBILE   MOBILE   MOBILE   MOBILE   MOBILE   MOBILE   MOBILE   MOBILE   MOBILE   MOBILE   MOBILE  */
@media (max-width: 576px) {
  .footer-redes-web {
    display: none; }
  .medioIndexApp {
    display: none; }
  .footer-index-redes-web-b {
    display: none; }
  .footer-redes-app {
    margin-bottom: 25px; }
  .footer-web {
    display: none; }
  .footer {
    float: inline;
    height: 80px;
    margin-top: 20px; }
  fieldset {
    border: none; }
  legend {
    text-align: center; }
  .footer-redes {
    display: flex;
    justify-content: space-evenly; }
  .logos-redes {
    transition: all 0.3 ease;
    height: 50px;
    width: 50px;
    border-radius: 80px; }
  .logos-redes:hover {
    transition: all 0.3 ease;
    transform: scale(1.1, 1.1); }
  .footer-text-mobile, .footer-text-mobile-app {
    display: inline;
    width: 75%;
    text-align: center;
    font-size: 12px; } }

@media (min-width: 576px) {
  .appVista {
    display: none; }
  .medioApp {
    display: none; }
  footer {
    display: none; }
  .footer {
    float: inline;
    height: 80px;
    margin-bottom: 20px; }
  .footer-text {
    display: inline-block;
    width: 75%; }
  .footer-redes-web {
    display: inline;
    width: 25%;
    float: right;
    height: 100%; }
  .logos-redes {
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    border-radius: 80px; }
  .logos-redes:hover {
    transition: all 0.3 ease;
    transform: scale(1.1, 1.1); }
  .container-index-footer {
    display: inline-block; }
  .footer-index-redes-web {
    display: inline;
    width: 75%;
    float: left;
    height: 100%; }
  .footer-index-redes-web-b {
    display: inline;
    width: 25%;
    float: right;
    height: 100%; }
  .logos-index-redes {
    margin-left: 5px;
    margin-top: 20px;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    border-radius: 80px; }
  .logos-index-redes:hover {
    transition: all 0.3 ease;
    transform: scale(1.1, 1.1); } }

* {
  color: #fbfff1; }

.textoto a, .aplicacionesTitulo a {
  text-decoration: none;
  color: #fbfff1;
  margin-top: 1%;
  margin-bottom: 1%; }

.disenio {
  margin-top: 30px;
  color: #fbfff1; }

h1 {
  color: #fbfff1; }

.aplicacionesTitulo {
  color: #c69dd2;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

@media (max-width: 576px) {
  p {
    color: #dbd5b5; }
  .textoto a, .aplicacionesTitulo a {
    text-decoration: none;
    color: #dbd5b5;
    margin-top: 1%;
    margin-bottom: 1%; } }

.medioIndex p {
  display: inline;
  width: 40%;
  color: yellow; }

.imgIndexWeb {
  display: inline-block;
  place-items: center;
  border: none;
  width: 50%;
  height: 250px;
  background-repeat: no-repeat; }

@media (max-width: 576px) {
  legend {
    display: none; }
  .index-footer-web {
    display: none; }
  .footer-redes-web {
    display: none; }
  .index-footer-web-a {
    display: none; }
  .webVista {
    display: none; }
  .medioIndex {
    display: none; }
  .medioIndex-b {
    display: none; }
  .medioIndexApp {
    width: 80%;
    margin-left: 25%;
    font-size: small; }
  .footer-redes-app {
    margin-bottom: 25px; }
  .logos-redes {
    border-radius: 100px; }
  .imgIndexWeb {
    display: inline-block;
    place-items: center;
    border: none;
    width: 50%;
    height: 250px;
    background-repeat: no-repeat; } }

@media (max-width: 576px) {
  .container-webProject {
    display: grid;
    grid-template-rows: 1fr 3fr  1fr  1 fr;
    grid-row-gap: 30px; }
  .galeriaweb-web, .galeriapp-web {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-top: 2%;
    margin-bottom: 2%; }
  .galeriaweb-item {
    margin: auto; }
  .imgWP, .galeriaapp-item {
    height: 200 px;
    width: 200px;
    transition: all 0.2s ease; }
  .imgWP:hover, .galeriaapp-item:hover {
    transform: scaleX(-1);
    opacity: 0.5;
    transition: all 0.4s ease; } }

@media (min-width: 576px) {
  .container-webProject {
    display: grid;
    grid-template-rows: 1fr 1 fr 3fr  1fr  1 fr;
    grid-row-gap: 30px; }
  .galeriaweb-web, .galeriapp-web {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-top: 2%;
    margin-bottom: 2%; }
  .galeriaweb-item {
    margin: auto; }
  .imgWP, .galeriaapp-item {
    height: 200 px;
    width: 200px;
    transition: all 0.2s ease;
    opacity: 1; }
  .imgWP:hover, .galeriaapp-item:hover {
    transform: scaleX(-1);
    opacity: 0.5;
    transition: all 0.4s ease; } }

.galeriapp {
  display: none; }

.galeriaweb-web, .galeriapp-web {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  margin-top: 2%;
  margin-bottom: 2%; }

.galeriaweb-item {
  margin: auto; }

.imgWP, .galeriaapp-item {
  height: 200 px;
  width: 200px;
  transition: all 0.2s ease;
  opacity: 1; }

.imgWP:hover, .galeriaapp-item:hover {
  transform: scaleX(-1);
  opacity: 0.5;
  transition: all 0.4s ease; }

.galeriapp-web {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  margin-top: 2%;
  margin-bottom: 2%; }

@media (max-width: 576px) {
  .galeriapp-web {
    display: none; }
  .galeriapp {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 100px; }
  .galeriaapp-item {
    width: 300px;
    height: 350px;
    margin: auto; }
  .galeriaapp-item:hover {
    transform: scaleX(0);
    transform: scaleY(-1);
    opacity: 0,2;
    transition: all 0.4s ease; }
  .footer-text-mobile-app {
    font-size: 20px; } }
